<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
		<meta charset="utf-8">
		<link href="custom/assets/css/style1.css" rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<body>
	 <!-----start-main---->
	 <div class="main">
		<div class="login-form">
			<h1 id="bigTitle">Member Login</h1>
					<div class="head">
						<img src="custom/assets/images/user.png" alt=""/>
					</div>
				<!-----login---->
				<form id="login">
						<input type="text" class="text" value="PHONE NUMBER" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'PHONE NUMBER';}" >
						<input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
						<div class="submit">
							<input type="submit" onclick="login()" value="LOGIN" >
					</div>	
					<p><a href="javascript:void(0)" onclick="showRegister()">Register</a></p>
				</form>
				<!-----register---->
				<form id="register" style="display:none">
						<input type="text" class="text" value="PHONE NUMBER" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'PHONE NUMBER';}" >
						<input type="text" class="text" value="USERNAME" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'USERNAME';}" >
						<input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
						<div class="submit">
							<input type="submit" onclick="register()" value="REGISTER" >
					</div>	
				</form>
			</div>
			<!--//End-login-form-->
		</div>
			 <!-----//end-main---->
		 		
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
<script src="custom/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
function showRegister(){
	$("#register").show();
	$("#login").hide();
	$("#bigTitle").text("Member Register");
}
function login(){
	var data1={
		username: $("#login input:eq(0)").val(),
		password: $("#login input:eq(1)").val()
	};
	$.ajax({
            type: "POST",
            dataType: "json",
            url: "/login",
            data:JSON.stringify(data1),
            success: function (dataResult) {
            	//alert("login success");
				window.location.href ='custom/index';
				//alert("after location");
			},
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                var failMsg="login fail,status:"+XMLHttpRequest.status+",textStatus:"+textStatus;
				alert(failMsg);
			
            }
        });
}
function register(){
	var data1={
		'phoneNumber':$("#register input:eq(0)").val(),
		'username': $("#register input:eq(1)").val(),
		'password': $("#register input:eq(2)").val()
	};
	$.ajax({
            type: "POST",
            dataType: "json",
            url: "/register",
            data: JSON.stringify(data1),
            success: function (dataResult) {},
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                var failMsg="register fail,status:"+XMLHttpRequest.status+",textStatus:"+textStatus;
				alert(failMsg);
			
            }
        });
}
</script>

</body>
</html>